---
layout: default
title: Posts
---

<section class="post-list">
<p class="post-list-intro">A liberal interpretation of "posts". Old research / class projects, tinkerings, or tools/opinions visitors might appreciate.</p>
{% for post in site.posts %}
  {% unless post.next %}
    <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
  {% else %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
      <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
    {% endif %}
  {% endunless %}
  <article class="post-item">
    <div class="article-title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></div>
    <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
  </article>
{% endfor %}
</section>
